[Unit]
Description=mailcatcher

[Service]
Environment=PATH=/home/vagrant/.rbenv/shims:/home/vagrant/.rbenv/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:
User=vagrant
WorkingDirectory=/home/vagrant/discourse
ExecStart=bash mailcatcher -f --http-ip 0.0.0.0

[Install]
WantedBy=multi-user.target
